.container {
    display: grid;
    grid-template-rows: 40% 40% 20%;
}


/*--top--*/

.top {
    display: grid;
    grid-template-rows: 5% 95%;
}


/*-- menu taskbar in top part--*/

.menu div {
    display: inline-block;
}

.left {
    float: left;
    margin-left: 50px;
}

.left div,
.right div {
    padding-left: 10px;
}

.right {
    float: right;
    margin-right: 50px;
}


/*-- img and word in top part--*/

.word {
    position: absolute;
    top: 200px;
    left: 50px;
}

.top img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/*--center--*/

.center {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: rgb(231, 227, 227);
    width: 100%;
}


/*-- word in center part--*/

.word_in_center {
    margin: 50px;
}


/*--img in center part--*/

.img_in_center {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 50px;
}

.img_in_center div {
    padding: 20px;
}

.img_in_center img {
    margin: 10px;
}

#img6 {
    width: 100%;
}

#img4,
#img5,
#img3,
#img2 {
    width: 100%;
}


/*--bottom--*/

.bottom {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    padding: 10px;
    margin: 30px;
}

.bottom div {
    padding: 10px;
}

span.bottom_left {
    display: block;
    padding: 5px;
}

span.bottom_center {
    display: block;
    padding: 5px;
}

span.bottom_right {
    display: block;
    padding: 5px;
}

img {
    max-width: 100%;
}